@import 'tailwindcss';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
  width: 100%; /* Optional: Ensures no extra horizontal scrolling */
  height: 100%; /* Optional: Ensures full height */
}
